# Database Configuration
# Lấy từ Railway.app MySQL service
DB_HOST=mysql.railway.internal
DB_USER=root
DB_PASSWORD=nLkvGpzdyupStrNIqddirlhznKuiZElt
DB_NAME=railway
DB_PORT=3306

# Server Port (Railway tự động set PORT, không cần set nếu deploy)
PORT=3000
